@model IEnumerable<Upload>

@{
    ViewData["Title"] = "Uploads";

}

<h1>Uploads</h1>
@if (ViewBag.Filter.Length > 0) {
    <h2>@ViewBag.Filter</h2>
} 

@(Html.Grid(Model)
  .Build(columns =>
  {
      columns.Add(model => model.id).Titled("id");
      columns.Add(model => model.filename).Titled("filename");
      columns.Add(model => model.ip).Titled("ip");
      columns.Add(model => model.userid).Titled("User Id");
    columns.Add(item => @Html.ActionLink("Tags by UploadId", "TagsByUploadId", "Graphql", new { id=item.id })).Titled("Actions");

  })
  .Using(GridFilterMode.Header)
  .Empty("No data found")
  .Filterable()
  .Sortable()
  .Pageable()
    )


