@model IEnumerable<MBox.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

@(Html.Grid(Model)
  .Build(columns =>
  {
      columns.Add(model => model.id).Titled("id");
      columns.Add(model => model.email).Titled("email");
      columns.Add(model => model.ip).Titled("ip");
    columns.Add(item => @Html.ActionLink("Uploads By UserId", "UploadsByUserId", "Graphql", new { id=item.id })).Titled("Actions");

  })
  .Using(GridFilterMode.Header)
  .Empty("No data found")
  .Filterable()
  .Sortable()
  .Pageable()
    )

