
@{
    ViewData["Title"] = "Home Page";
    var uploadId = 815;
    var userId = 4317;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Astra GraphQL Demo</h1>
    <p>Click a menu item to view Users, Tags, Uploads, and Apache Logs that is stored in Astra and
    retrieved via GraphQL.</p>
</div>

